{% extends "base.njk" %}

{% set title = "Blog" %}


{% block content %}


    {{header.active('blog')}}


    <h1>Blog</h1>

    <p>
        see <a href="https://github.com/javve/list.js" target="_blank">List.js</a> for pagination
    </p>

{% endblock %}
